.sobre{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 89vh;
}

.sobre img{
    width: 50vh;
}

.sobre h2{ 
    font-size: 2em;
    font-weight: normal;
    color: #FFFFFF;
    text-align: center;
}

.textoSobre{
    display:flex;
    flex-direction: column;
    align-itens: center;
    width: 50%;
}

.textoSobre h1{
    
    text-align:center;
    
}

@media screen and (max-width: 900px) {
    .sobre{
        flex-wrap: wrap;
    }
    .sobre h2{
        text-align: justify;
        font-size: 1.5rem;
        width: 100%;
        margin: 0px 10px;
    }
}
