.form-control:focus{
    box-shadow: 0px 0px 15px 1px #f9e50e  ;
    border: 0 none;
    outline: 0;
}

.btn-info{
    background-color: #f9e50e;
    border: none;
}

.btn-info:hover{
   background-color: #e3d20c;
}

label{
    font-size: 1.6em;
    color: #FFFFFF;
}

.redes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone-contato{
    width: 55px;
    height: 55px;
    color: #f9e50e;
    background-color: #0000009e;
    padding: 10px;
}

.icone-contato:hover{
    border: 1px solid #f9e50e;
}